<h1>Migración XMl to Azure Storage</h1>

<form method="post">
    <button class="btn btn-danger" name="algo" value="algo">
        Migrar datos
    </button>
</form>

<h2 style="color:blue">
    @ViewData["MENSAJE"]
</h2>